In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
df_2014 = pd.read_csv("2014.csv")
df_2014.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,271363,"December 29, 2014",Louisiana,New Orleans,Poydras and Bolivar,0,4,NaN
1,269679,"December 27, 2014",California,Los Angeles,8800 block of South Figueroa Street,1,3,NaN
2,270036,"December 27, 2014",California,Sacramento,4000 block of May Street,0,4,NaN
3,269167,"December 26, 2014",Illinois,East St. Louis,2500 block of Summit Avenue,1,3,NaN
4,268598,"December 24, 2014",Missouri,Saint Louis,18th and Pine,1,3,NaN

In [3]:
df_2015 = pd.read_csv("2015.csv")
df_2015.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,476321,"December 31, 2015",Louisiana,New Orleans,1900 block of Amelia Street,0,6,NaN
1,473882,"December 27, 2015",Tennessee,Jackson,North Parkway,0,4,NaN
2,472268,"December 26, 2015",Pennsylvania,Philadelphia,4210 Macalester St,0,4,NaN
3,471867,"December 25, 2015",Florida,Jacksonville,Franklin and Odessa,0,4,NaN
4,471860,"December 25, 2015",Alabama,Mobile,785 Schillinger Rd S,0,4,NaN

In [4]:
df_2016 = pd.read_csv("2016.csv")
df_2016.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,740447,"December 31, 2016",Georgia,Lenox (El Dorado),27 Briarwood Ct,2,2,NaN
1,738749,"December 31, 2016",Texas,Houston,3704 Fannin Street,1,3,NaN
2,738041,"December 30, 2016",Ohio,Mansfield,3230 Possum Run Rd,0,5,NaN
3,738576,"December 30, 2016",Connecticut,Wallingford,95 S Turnpike Rd,2,3,NaN
4,736690,"December 28, 2016",Georgia,Columbus,2914 10th Street,1,4,NaN

In [5]:
df_2017 = pd.read_csv("2017.csv")
df_2017.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1017372,"December 31, 2017",Colorado,Littleton (Highlands Ranch),3404 E County Line Rd,2,6,NaN
1,1017422,"December 31, 2017",Illinois,Chicago,2335 Howard St,0,4,NaN
2,1018118,"December 31, 2017",New Jersey,Long Branch,635 Wall St,4,0,NaN
3,1015666,"December 27, 2017",Nevada,Las Vegas,3750 E Bonanza Rd,2,2,NaN
4,1015336,"December 26, 2017",Florida,Miami,NW 18th Ave and 86th Ter,0,5,NaN

In [6]:
df_2018 = pd.read_csv("2018.csv")
df_2018.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1289686,"December 31, 2018",Ohio,Cleveland,4462 Denison Ave,3,2,NaN
1,1288376,"December 29, 2018",Ohio,Lima,904 S Main St,1,3,NaN
2,1287286,"December 28, 2018",Missouri,Saint Charles,150 Whetstone Dr,4,1,NaN
3,1284586,"December 24, 2018",Louisiana,Lutcher,2176 Main St,2,2,NaN
4,1283229,"December 23, 2018",Missouri,Springfield,1042 W College St,1,6,NaN

In [7]:
df_2019 = pd.read_csv("2019.csv")
df_2019.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1582816,"December 29, 2019",Illinois,Danville,1803 block of Westview Ave,0,5,NaN
1,1582197,"December 29, 2019",New York,Buffalo,50 block of Henrietta Ave,1,3,NaN
2,1583444,"December 29, 2019",California,Ceres,800 block of Allacante Dr,0,5,NaN
3,1581590,"December 27, 2019",California,Modesto,1900 block of Vernon Ave,1,3,NaN
4,1581103,"December 27, 2019",Texas,Houston,500 block of Smart St,2,7,NaN

In [8]:
df_b_checks = pd.read_csv("nics-firearm-background-checks.csv")
df_b_checks

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2020-03,Alabama,31205.0,606.0,34897.0,17850.0,1583.0,1744,0.0,36.0,...,0.0,0.0,0.0,42.0,23.0,8.0,2.0,2.0,0.0,92652
1,2020-03,Alaska,143.0,4.0,4657.0,3819.0,487.0,386,0.0,0.0,...,0.0,0.0,0.0,14.0,13.0,0.0,0.0,0.0,0.0,9939
2,2020-03,Arizona,5685.0,958.0,46377.0,19346.0,2433.0,4846,0.0,18.0,...,2.0,0.0,0.0,21.0,11.0,5.0,0.0,0.0,0.0,82771
3,2020-03,Arkansas,2424.0,673.0,15304.0,8968.0,600.0,885,4.0,27.0,...,0.0,0.0,0.0,11.0,10.0,3.0,1.0,0.0,2.0,31651
4,2020-03,California,27792.0,0.0,81543.0,48616.0,5041.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,164497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14130,1998-11,Virginia,0.0,NaN,14.0,2.0,NaN,8,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
14131,1998-11,Washington,1.0,NaN,65.0,286.0,NaN,8,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361
14132,1998-11,West Virginia,3.0,NaN,149.0,251.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,408
14133,1998-11,Wisconsin,0.0,NaN,25.0,214.0,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241
14134,1998-11,Wyoming,8.0,NaN,45.0,49.0,NaN,5,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107

In [9]:
df_b_checks.dropna(inplace=True)
df_b_checks

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2020-03,Alabama,31205.0,606.0,34897.0,17850.0,1583.0,1744,0.0,36.0,...,0.0,0.0,0.0,42.0,23.0,8.0,2.0,2.0,0.0,92652
1,2020-03,Alaska,143.0,4.0,4657.0,3819.0,487.0,386,0.0,0.0,...,0.0,0.0,0.0,14.0,13.0,0.0,0.0,0.0,0.0,9939
2,2020-03,Arizona,5685.0,958.0,46377.0,19346.0,2433.0,4846,0.0,18.0,...,2.0,0.0,0.0,21.0,11.0,5.0,0.0,0.0,0.0,82771
3,2020-03,Arkansas,2424.0,673.0,15304.0,8968.0,600.0,885,4.0,27.0,...,0.0,0.0,0.0,11.0,10.0,3.0,1.0,0.0,2.0,31651
4,2020-03,California,27792.0,0.0,81543.0,48616.0,5041.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,164497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2415,2016-08,Virginia,776.0,0.0,21108.0,15802.0,978.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38667
2416,2016-08,Washington,14063.0,33.0,15083.0,11376.0,1622.0,606,8.0,6.0,...,8.0,0.0,0.0,503.0,444.0,23.0,11.0,4.0,1.0,46645
2417,2016-08,West Virginia,1948.0,0.0,6916.0,5283.0,243.0,345,14.0,9.0,...,1.0,0.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,17315
2418,2016-08,Wisconsin,25551.0,0.0,14764.0,12079.0,709.0,43,0.0,0.0,...,4.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,53689
2419,2016-08,Wyoming,906.0,3.0,1721.0,2079.0,105.0,96,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5295

In [10]:
#df_b_checks['month'] = pd.to_datetime(df_b_checks["month"].dt.strftime('%Y-%m'))

#df_b_checks.index = pd.to_datetime(df_b_checks['month'],format='%y-%m')

#df_b_checks.groupby(df_b_checks.month.dt.year)

df_b_checks[['year','month']] = df_b_checks['month'].str.split('-',expand=True)

df_b_checks

#df_2014_bc = df_b_checks.groupby

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,year
0,03,Alabama,31205.0,606.0,34897.0,17850.0,1583.0,1744,0.0,36.0,...,0.0,0.0,42.0,23.0,8.0,2.0,2.0,0.0,92652,2020
1,03,Alaska,143.0,4.0,4657.0,3819.0,487.0,386,0.0,0.0,...,0.0,0.0,14.0,13.0,0.0,0.0,0.0,0.0,9939,2020
2,03,Arizona,5685.0,958.0,46377.0,19346.0,2433.0,4846,0.0,18.0,...,0.0,0.0,21.0,11.0,5.0,0.0,0.0,0.0,82771,2020
3,03,Arkansas,2424.0,673.0,15304.0,8968.0,600.0,885,4.0,27.0,...,0.0,0.0,11.0,10.0,3.0,1.0,0.0,2.0,31651,2020
4,03,California,27792.0,0.0,81543.0,48616.0,5041.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,164497,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2415,08,Virginia,776.0,0.0,21108.0,15802.0,978.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38667,2016
2416,08,Washington,14063.0,33.0,15083.0,11376.0,1622.0,606,8.0,6.0,...,0.0,0.0,503.0,444.0,23.0,11.0,4.0,1.0,46645,2016
2417,08,West Virginia,1948.0,0.0,6916.0,5283.0,243.0,345,14.0,9.0,...,0.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,17315,2016
2418,08,Wisconsin,25551.0,0.0,14764.0,12079.0,709.0,43,0.0,0.0,...,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,53689,2016
2419,08,Wyoming,906.0,3.0,1721.0,2079.0,105.0,96,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5295,2016

In [11]:
df_bc_clean = df_b_checks[['year','state','permit']].copy()
df_bc_clean

      year          state   permit
0     2020        Alabama  31205.0
1     2020         Alaska    143.0
2     2020        Arizona   5685.0
3     2020       Arkansas   2424.0
4     2020     California  27792.0
...    ...            ...      ...
2415  2016       Virginia    776.0
2416  2016     Washington  14063.0
2417  2016  West Virginia   1948.0
2418  2016      Wisconsin  25551.0
2419  2016        Wyoming    906.0

[2420 rows x 3 columns]